[2014-10-21 09:58] alexiscn opened #1 "WP8 Client Certificate support"
will this project allow us to add client certificate files when requesting with https+ip ?

[2015-01-05 17:20] stammen opened #4 "WinRT branch builds with errors"
The current WinRT branch builds with errors. There is a bad comment at line 1384 in winrtcomponent.cpp and the following build errors also occur:

7>------ Build started: Project: NT-Phone-8.1-Dll-Unicode-testapp, Configuration: Release ARM ------
8>------ Build started: Project: NT-Store-8.1-Static-Unicode-testapp, Configuration: Release ARM ------
9>------ Build started: Project: NT-Store-8.1-Dl

[2015-01-06 15:34] jmspring opened #5 "openssl.sln file will build using msbuild unless first opened in VS2013 then saved"
Execute: ms/do_vspackages.bat
Then execute: msbuild openssl.sln /property:Configuration="Debug";Platform="x86"

Result:
Microsoft (R) Build Engine version 12.0.31101.0
[Microsoft .NET Framework, version 4.0.30319.34014]
Copyright (C) Microsoft Corporation. All rights reserved.

Building the projects in this solution one at a time. To enable parallel build, please add the "/m" switch.
Build started

[2015-01-08 00:07] khouzam commented on #5
Thanks for the report Jim, I'll take a look.

[2015-01-08 09:11] seecrypt commented on #4
Both these issues should be fixed with the latest commits that have been merged with the WinRT branch.

[Fixes winrtcomponent.cpp](https://github.com/Microsoft/openssl/commit/c20688d1d75ce91d492ade9a335ba889854f05f9)

[Fixes RunTests issue](https://github.com/Microsoft/openssl/commit/b2a3b85ae58c2b661d7c1330fc4ef8bbaa61533b)

[2015-01-23 15:05] amoldeshpande opened #6 "alleged "Static" projects still produce DLLs"
nt.mak has dll output targets.

[2015-01-23 18:08] khouzam commented on #6
Thanks. I'll take a look.

[2015-01-23 18:31] khouzam commented on #6
The OpenSSL libraries are produced as static libraries (**ssleay32.lib** and **libeay32.lib**). The other files that are in the out32 folder are the tests binaries. We create tests dlls that get run inside our test app because we can't run command-line executables.

Are you seeing something else?

[2015-01-23 18:33] amoldeshpande commented on #6
nope, I just misunderstood what the static projects meant. apologies.

[2015-01-23 18:33] #6 closed

[2015-02-03 18:34] #4 closed

[2015-04-29 19:53] itsjehad opened #7 "A set of APIs from libeay32.dll does not pass Windows App Certification Kit Test"
I am trying to create a Windows 8.1 store app which uses OpenSSL. These are the errors I am getting.

?API 1016 in libeay32.dll is not supported for this application type. my_pkcs.dll calls this API.
?API 1070 in libeay32.dll is not supported for this application type. my_pkcs.dll calls this API.
?API 1071 in libeay32.dll is not supported for this application type. my_pkcs.dll calls this API.
?API

[2015-04-29 19:58] khouzam commented on #7
Hi itsjehad,

Can you create a small repro for us to look at? How have you built the OpenSSL dlls?

[2015-04-29 20:57] itsjehad commented on #7
I used vsout\OpenSSL.sln generated by ms\do_vsprojects.bat.
Compiled the VC project, NT-Store-8.1-Dll-Unicode-winrtcomponent.
Copy both (libeay32 and ssleay32) libs and dlls from "Openssl-WinRT\vsout\NT-Store-8.1-Dll-Unicode\Release\Win32\bin" to my project's work space.
Compiled and tested my project with "Windows App Certification Kit".
Finally got the APIs not supported errors.
Thanks,

[2015-04-29 21:14] itsjehad commented on #7
These are some of the APIs we used,

API 1016 (X509_STORE_CTX_get_error) in libeay32.dll.
API 1070(EVP_PKEY_decrypt)  in libeay32.dll.
API 1071 (EVP_PKEY_encrypt) in libeay32.dll.
API 109 (BIO_write) in libeay32.dll.
API 11 (ASN1_OBJECT_free) in libeay32.dll.

[2015-04-29 23:26] khouzam commented on #7
I've taken a clean image of our WinRT branch, created the projects with ms\do_vsprojects.bat, built the test app and submitted to the App Certification Kit. The only API violations that were raised were OutputDebugString in WinRTComponent.cpp which is not part of libeay.dll or ssleay.dll.

Can you send me a private email? I'd like to dig deeper into this issue.

[2015-05-01 15:31] itsjehad commented on #7
My system messed out with the DLLs, i guess. It has passed the certification test now... I am sorry for the inconvenience.

[2015-05-01 15:31] #7 closed, assigned to nobody

[2015-05-02 00:14] sggeng opened #8 "error build openssl NT-Store-8.1-Dll"
Here's the error message:

Error   214 error C1107: could not find assembly 'windows.foundation.foundationcontract.winmd': please specify the assembly search path using /AI or by setting the LIBPATH environment variable    C:\Sherman\ReferenceProjects\C++\openssl-WinRT\vsout\NT-Store-8.1-Dll-Unicode\ms\winrt.cpp  NT-Store-8.1-Dll-Unicode

[2015-05-02 01:12] khouzam commented on #8
Thanks for reporting this. Our update for the new Windows 10 tools has introduced this break.

I have pushed out a fix for this. Both Win10 and Win8.1 now build properly.

[2015-05-02 18:30] khouzam commented on #5
The latest update should take care of this issue. The dependencies were not written to the solution file.

[2015-05-02 18:30] #5 closed

[2015-05-04 17:34] sggeng commented on #8
verified problem is fixed.

[2015-05-04 17:34] #8 closed, assigned to nobody

[2015-05-05 17:15] mjsabin01 opened #9 "Build error in ARM / Release configuration"
I am running into issues building the ARM Release configurations:

Static-Unicode:
All packages are already installed and there is nothing to restore.
NuGet package restore finished.
1>------ Build started: Project: NT-Universal-10.0-Static-Unicode, Configuration: Release ARM ------
1>  10.0.10069.0
1>
1>  Microsoft (R) Program Maintenance Utility Version 14.00.22816.0
1>  Copyright (C) Microsoft

[2015-05-05 17:40] mjsabin01 opened #10 "inc32 directories missing"
The ms\do_pack\* scripts have line:
xcopy inc32 vsout\package\include /h /k /r /e /i /y >nul

However, the inc32 directory does not exist in the project.

[2015-05-05 23:38] khouzam commented on #9
Thanks for reporting this. I've seen this as an intermittent issue on the current build of VS 2015 RC. I'm trying to understand the root cause as I'm also seeing it on other projects.

[2015-05-05 23:39] khouzam commented on #10
Which branch and commit are you building?

[2015-05-06 00:01] mjsabin01 commented on #10
I am just syncing the head branch: commit cdecafb415749564fa7e685a11dd8137fb0baf0b

[2015-05-06 18:44] khouzam commented on #10
I've fixed this. After merging the master branch, inc32 was removed and include has the proper headers.

[2015-05-06 18:44] #10 closed, assigned to nobody

[2015-05-10 14:47] khouzam commented on #9
There seems to be an issue with VS 2015 RC. I've notified the VS team about it. In the meantime, you can get around the issue by running the following command on an Admin command prompt.

copy "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\mspdbsrv.exe" "C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\IDE"

[2015-05-10 14:47] #9 closed, assigned to nobody

[2015-05-11 14:01] mjsabin01 commented on #9
Thanks, that worked.

[2015-05-18 23:01] sggeng opened #11 "build error MSB8024: Using static version of the C++ runtime library is not supported"
try to build NT-Store-8.1-Static-Unicode-winrtcomponent as static library (I set the C++ runtime library  to /MT) from VS2013.

Got the following error:
MSB8024: Using static version of the C++ runtime library is not supported

How to build openssl as a static library for windows store apps?

[2015-05-19 00:08] khouzam commented on #11
The winrtcomponent projects are only there for the testing application.

You only need to include the output of NT-Store-8.1-Static-Unicode in your actual application. Those are the openSSL static libraries. Your application will still need to link with the dynamic version of the runtime since that's a store policy but openSSL will be statically linked into your app.

[2015-05-19 00:08] #11 closed, assigned to nobody

[2015-05-25 16:18] skiner opened #12 "Compile OpenSSL for WP8.0"
I cant to add compiled dll into my WP8.0 project, i always get error "A reference to a higher version or incompatible assembly cannot be added to the project."

How i do it:
1. Execute the following script in the source root tree.
   ms\do_vsprojects.bat
2. Open visual studio solution created
   vsout\openssl.sln
3. Run Unit Test App Projects
4. ms\do_packwinapp.bat

Finally i got two dlls ssleay3

[2015-05-26 04:18] khouzam commented on #12
Hi Skiner,

You are doing the right steps to produce the DLLs. However, these are native C++ DLLs and not managed DLLs.. In order to use them in a C# project you will need to have a WinRT C++ component that can act as the bridge. That component would produce a .WinMD file which can be consumed by C# and it would link with ssleay.lib and libeay.lib and expose their functionality. This is similar to

[2015-06-10 20:56] khouzam opened #13 "BIO file functions do now work."
We didn't connect the applink interface on Windows Store and Windows Phone produced DLLs which can cause a crash when accessing files through the BIO interface.

If you use the files through the BIO interface, you can work around this issue by using a static lib instead.

[2015-06-30 17:49] drewbug opened #14 "OpenSSL 1.0.2c"
Is upgrading this fork planned?

[2015-06-30 17:52] khouzam commented on #14
Yes, I hadn't seen that 1.0.2c had been released. I will merge in the changes this week.

[2015-06-30 17:54] drewbug commented on #14
Terrific! Thank you, @khouzam!

[2015-06-30 22:43] khouzam commented on #14
I've updated the branches to match the new 1.0.1 and 1.0.2 releases.

The latest tags are: OpenSSL_1_0_2c_WinRT and OpenSSL_1_0_1o_WinRT

[2015-06-30 22:43] #14 closed, assigned to nobody

[2015-07-10 20:35] khouzam commented on #14
I've just updated the code with the latest changes for OpenSSL_1_0_2d_WinRT and OpenSSL_1_0_1p_WinRT after the release of the most recent patch.

[2015-07-21 15:56] #12 closed, assigned to nobody

[2015-09-16 07:38] StSimmons opened #15 "Running vs_dovsprojects.bat does not build OpenSSL_1_0_2_WinRT-stable"
Hangs after:

`        1 file(s) copied.
creating project vsout\NT-Store-8.1-Static-Unicode
Configuring for VC-WINSTORE
    no-asm          [option]   OPENSSL_NO_ASM
    no-deprecated   [default]  OPENSSL_NO_DEPRECATED (skip dir)
    no-dso          [option]
    no-ec_nistp_64_gcc_128 [default]  OPENSSL_NO_EC_NISTP_64_GCC_128 (skip dir)
    no-gmp          [default]  OPENSSL_NO_GMP (skip dir)

[2015-09-16 19:29] khouzam commented on #15
Hi @SimmonsTech,

OpenSSL requires ActivePerl on Windows. This is mentioned in the install.WIN32 but not in the install.WINUNIVERSAL one. I will make a not of it.

Can you try with ActivePerl and see if that solves your issue, otherwise, I'll investigate further.

[2015-09-17 05:16] StSimmons commented on #15
So, ActivePerl does work. It would be good to update the documentation :)

Also, of note, is that I wass previously trying to use the cygwin perl.exe - which according to the install.WIN32 should work. It fails specifically on line:
perl util\mkdef.pl 32 libeay > ms\libeay32.def in ms/do_winstore.bat

[2015-10-13 15:56] stammen opened #16 "Windows Store 8.1 projects don't build with VS2015"
The Windows Store 8.1 projects generated by ms\do_vsprojects.bat don't build with Visual Studio 2015 if VS2013 is not installed. For example, the following error is produced by NT-Store-8.1-Dll-Unicode.vcxproj:

1>.\ms\winrt.cpp : fatal error C1107: could not find assembly 'Platform.winmd': please specify the assembly search path using /AI or by setting the LIBPATH environment variable

NT-Store-8

[2015-12-02 03:16] heefan opened #18 "miss header file asn1_mac.h"
I am using **WinRT** branch to build OpenSSL for Windows Phone 8.1.
The file **asn1_mac.h** doesn't exist in the header folder, however, official OpenSSL source code has it.
May I know any reason to remove it? Thanks in advance.

PS: My working environment:

[code]

[2015-12-06 12:41] eakraly opened #19 "openssl-1.0.2e released"
Please create new release with Windows support. Thanks!

[2015-12-18 03:03] DongWang1111 commented on #19
I'm looking for this release with UWP support, please create the release, thanks !

[2015-12-21 07:20] dannyjiajia opened #21 "issue:_WKITS10VER@setVSvars.bat"
I have build uwp project after run the `do_vsprojects14.bat` script,but the vs path is mistake.
maybe need check the path of vs befroe set variables.

setVSvars.bat

[code]

[2015-12-25 08:01] DongWang1111 commented on #19
When will the 1.0.2e  will be released ? Thanks !

[2016-01-05 00:20] khouzam commented on #21
This was to work around a bug in the RC build of VS 2015. I've removed it.

Thank you.

[2016-01-05 00:20] #21 closed, assigned to nobody

[2016-01-05 00:20] khouzam commented on #19
I've just updated the branches with 1.0.1q and 1.0.2e.

[2016-01-05 00:20] #19 closed, assigned to nobody

[2016-01-29 02:13] DongWang1111 opened #22 "openssl-1.0.2f is released"

[2016-01-30 05:47] DongWang1111 commented on #22
Thanks for the quick update !

[2016-01-30 05:47] #22 closed, assigned to nobody

[2016-01-30 07:17] khouzam commented on #22
@dongwang1111 please do a sanity check. I merged in the branch and ran the test suite but a second confirmation would be great.

Thanks

[2016-02-25 02:57] PatrickSCLin opened #23 "Could you provide a repo for pthread ?"
Hi, I found this fork from https://github.com/openssl/openssl

this is really really sweet for someone who want to porting the project to windows store app.

Could you provide pthread which supported WinRT too ?

it must be super helpful for someone who want to porting the project to windows store app.

[2016-03-02 06:18] khouzam commented on #18
Sorry, @heefan
 I just saw the issue.
Our WinRT branch is fairly behind the master OpenSSL branch, this might be the reason why the file is not there. Is it a new 1.1.0 feature?

[2016-03-02 06:26] khouzam commented on #23
Hi @PatrickSCLin

We don't have a full pthread implementation but there are multiple ones that shim a subset of the pthread calls to Win32 calls that do work in WinRT,

Here's one link that we use in our WinOBJC project:
https://github.com/Microsoft/WinObjC/blob/master/Frameworks/limbo/pthread.cpp

[2016-03-07 07:16] yuezhizizhang opened #24 "Build hangs while running ms\do_vsprojects14.bat"
I've checkout tag OpenSSL_1_0_2g_WinRT. While running ms\do_vsprojects14.bat, it hangs:

Configured for VC-WINSTORE.
unknown option - no-dso
no rule for apps\ at util\mk1mf.pl line 1061.
File ssl/tls1.h: cannot parse: ()
# INFO::;

File ssl/tls1.h: cannot parse: ()
# INFO::;

However, if I download the zip file OpenSSL_1_0_2_WinRT-stable, everything goes fine. What is the tag name of the 1.0.2g st

[2016-03-07 18:54] khouzam commented on #24
Hi @yuezhizizhang,

This is strange, the OpenSSL_1_0_2g_WinRT tag is at the exact same commit as the OpenSSL_1_0_2_WinRT-stable branch, which is the b6385a71e0c7e6d95bcb4662a76abf6f7958e39b commit.

[2016-03-10 08:05] yuezhizizhang commented on #24
Hi khouzam,

I've checked out tag OpenSSL_1_0_2g_WinRT with command:

git checkout tags/OpenSSL_1_0_2g_WinRT -b OpenSSL_1_0_2g_WinRT

Thus, my working directory is a mirror of OpenSSL_1_0_2g_WinRT. While running ms\do_vsprojects14.bat from the command line, everything goes well. However, If I run the batch file from Makefile, it hangs.

The Makefile looks like:
cd src; \
ms\do_vsprojects14.bat

Th

[2016-03-11 07:09] yuezhizizhang commented on #24
I've found out the root cause. On Windows, core.autocrlf is TRUE by default. Consequently, line terminators of the checkout files are replaced by CRLF. However, the perl script fails for the CRLF line endings.

[2016-03-11 22:22] khouzam commented on #24
Glad you found the cause. The default Windows instructions mention using ActivePerl, I guess, we didn't copy that clause in the WinRT instructions. I'll fix this to avoid others having the issue.

[2016-03-11 22:22] #24 closed, assigned to nobody

[2016-03-15 06:13] yuezhizizhang commented on #24
Hi khouzam,

I suggest you add a .gitattributes file to the root folder, so that users don't have to change their configuration manually to avoid this pitfall. You just need to add one line into the .gitattributes file:
- text=false

It works for me. https://git-scm.com/docs/gitattributes explains about it.

[2016-03-15 06:26] DongWang1111 commented on #24
@yuezhizizhang  Thanks for your info !

[2016-03-18 04:22] mattleibow commented on #16
Did anyone solve this one?

[2016-03-18 05:07] khouzam commented on #16
I'll have to setup a machine without VS 2013 and repro. Gimme a couple of days.

[2016-03-18 05:12] stammen commented on #16
The problem is in openssl/ms/do_vsprojects.bat at line 4

call ms\setVSVars.bat VS12VC
call "%_VS12VC%\vcvarsall" x86

Since VS 2013 is not installed this will fail. There needs to be a check for VS2015 then VS2013.

[2016-03-18 05:13] khouzam commented on #16
Thanks. I'll fix that then.

[2016-04-05 12:30] mattleibow opened #25 "[UWP] mismatch detected for 'vccorlib_lib_should_be_specified_before_msvcrt_lib_to_linker'"
Just trying build OpenSSL as a static library. That seems to work and produces a static .lib file. I first run ms\do_vsprojects14.bat, and then just build the NT-Universal-10.0-Static-Unicode.vcxproj project from VS.

So, I went ahead and created a dummy DLL project for UWP and added a small usage in dllmain.cpp:

[code]

I added the libeay32.lib file and started the build:

[code]

 I got this er

[2016-04-05 20:32] khouzam commented on #25
I'm not sure the root cause, but I was able to reproduce the issue and work around by adding this to the linking options, which should set the right order for the libraries.

/NODEFAULTLIB:"vccorlib" /NODEFAULTLIB:"msvcrt" vccorlib.lib msvcrt.lib

[2016-04-22 08:45] bilsou opened #29 "runnning do_vsprojects.bat not working - cannot build WinRT sln files"
When trying to run the script after being sure that activeperl is properly installed, I get that.

The system cannot find the path specified.
'"\vcvarsall"' is not recognized as an internal or external command,
operable program or batch file.
The system cannot find the path specified.
File not found - OpenSSLTestAppStore8.1
File not found - winrtStore8.1
File not found - MakefileStore
creating pro

[2016-04-22 09:15] bilsou commented on #29
My bad, I had to run the script from the root folder and not the ms one...

[2016-04-22 09:15] #29 closed, assigned to nobody

[2016-05-25 07:04] gs-ts opened #30 "OpenSSL_1_0_1_WinRT-stable ARM build error"
I am trying to build OpenSSL_1_0_1_WinRT-stable for Windows Universal apps with Visual Studio 2015 Version 14.0.25123.00.
I get the following error:

1>.\crypto\cryptlib.c : fatal error C1083: Cannot open include file: 'sdkddkver.h': No such file or directory
1>NMAKE : fatal error U1077: '"C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\BIN\x86_ARM\cl.EXE"' : return code '0x2'
1>  Stop.
1>C

[2016-06-07 06:46] gs-ts commented on #30
fixed by uninstall/install Visual Studio.

[2016-06-09 21:26] #30 closed, assigned to nobody

[2016-06-17 22:13] adiviness commented on #16
This should now be fixed in all three branches.

[2016-06-17 22:13] #16 closed, assigned to nobody

[2016-06-22 18:04] brody2consult opened #31 "Fix ms/setVSvars.bat for new windows.foundation.foundationcontract & windows.foundation.universalapicontract"
I had to make the following change to build the `OpenSSL_1_0_2_WinRT-stable` branch using a recent Visual Studio Community 2015 update:

[code]

I suspect almost the same change will be needed to the `WinRT` branch.

FYI @sgrebnov (Sergey Grebnov) made an excellent tool for newcomers like myself to build OpenSSL for Windows 8.1 and Windows 10 UWP at: https://github.com/sgrebnov/OpenSSL-WinRT-build

[2016-06-22 19:24] khouzam commented on #31
This is great. Thank you. And thanks for the project pointer.

[2016-07-05 09:47] brody2consult opened #32 "Smaller crypto build to support SQLCipher"
With help from https://github.com/sgrebnov/OpenSSL-WinRT-build along with the fix to `ms/setVSvars.bat` I was able to build OpenSSL and test it with SQLCipher on Windows 8.1, Windows Phone 8.1, and Windows 10 for litehelpers/Cordova-sqlcipher-adapter#30. However the build for each CPU target is over 12MB (over 13MB for x64).

But SQLCipher only needs the equivalent of the libcrypto.so part. Not on

[2016-07-10 13:31] richsalz opened #33 "Hi!"
Hey folks, hello!  Kinda neat you're doing this.  Can you explain how it interacts with openssl mainline, etc?  Perhaps in a note to openssl-dev or if you want just the team at openssl-team?

[2016-07-12 21:21] khouzam commented on #33
Hi Rich,

We've had conversations with the OpenSSL team at the start of this project for getting this code included in the main trunk of the project. At the moment we're focusing on keeping the project updated with the latest releases but will be looking at getting back into the development branch and starting the conversations again for merging.

[2016-07-13 13:40] richsalz commented on #33
Hi Gilles.  That sounds great.  We should talk more closely after we get around to releasing 1.1

[2016-07-20 15:07] khouzam commented on #32
Hi @brodybits,

Looking at the build script, you're already using the static library which should only include the portions of the code that are invoked in the code that link with them. The size of the library being 12 or 13MB is not an indication of the code that will be part of the final linked project, the static library also contains all the symbol information, which will be discarded in the f

[2016-07-20 15:08] #25 closed, assigned to nobody

[2016-08-03 10:45] suresh-dev commented on #15
Hi All,

i am able to generate the binaries of openssl using the instructions mentioned in install.WINUNIVERSAL file.
so after generating these binaries how should i add them to my uwp application ?
I tried to add these binaries to my uwp application, i am getting errors.
could anyone please help me.

[2016-08-21 21:49] mrchris2000 opened #34 "VS2015 Build errors"
After a clean clone from the repo I've followed the instructions and am getting:

.\crypto\cryptlib.c: fatal error C1083: Cannot open include file: 'sdkddkver.h':
 No such file or directory
NMAKE : fatal error U1077: '"C:\Program Files (x86)\Microsoft Visual Studio 14.0
\VC\BIN\cl.EXE"' : return code '0x2'

I'm not really a C guy and was hoping to use this library from C# for UWP development so ge

[2016-08-22 01:09] noloader commented on #34
`cryptlib.c` does not include `sdkddkver.h`. It sounds like its someone else's distribution of Crypto++.

Which instructions?

This may not be the easiest thing to do. If you try to use the library as-is, then it probably won't end well. You will likely need to create a managed wrapper DLL. The wrapper will export what C# needs, and import the cryptography from Crypto++.

[2016-08-23 02:21] alanch-ms opened #35 "Errors while compiling with RS1 (10.0.14393.0) Windows SDK"
I ran into 2 issues while compiling with RS1 Windows SDK.  It worked fine with TH2 Windows SDK.
1. The include paths are not set properly.  It seems that ms\setVSvars.bat read the registry to find the version of the windows SDK.  For TH2, the HKLM\SOFTWARE\Wow6432Node\Microsoft\Microsoft SDKs\Windows\v10.0\ProductVersion is set to "10.0.10586.0".  This version matches the directory name for of the

[2016-08-23 15:45] khouzam commented on #35
Thanks for reporting this. I'll take a look with the RS1 SDK.

[2016-08-23 15:52] khouzam commented on #34
Hi @mrchris2000

Which branch are you running against?

Getting the binaries will not be enough to call the code from C#, since OpenSSL is a native C++ library, there will need to be an interop library to connect the C# to the C++ code. For most of the Microsoft projects, the APIs exposed are exposed as WinRT components making them available from all projected languages. Once you have the binaries

[2016-08-23 20:31] alanch-ms commented on #35
Actually, regarding point 2, the error was due to version conflict of WinSDK.  Openssl-uwp was compile with 10.0.14393.0 (the version in the registry), but the visual studio project consuming the libeay32.lib was targeting 10.0.10586.0 (specified by the VS project file).   Hence, FindFirstFileW was not found during the "link" phase.

I guess the correct fix here is to specify which WinSDK version

[2016-08-24 16:53] khouzam commented on #35
Yes, it seems that the logic for the SDK has changed slightly and I'll look to patch the scripts.

[2016-08-26 18:08] fahad-ahmed commented on #34
Hi ,
I am also getting the same build error while building opessl for windows universal. I did the following
- install active perl
- run the scriprt ms/do_vsprojects14.bat
- open the vsout/openSSL.sln using Visual Studio 2015(community edition)
  Tried to build the solution (also tried  individual project). Getting following build error-

[code]

Can anyone help me to fix this problem. Thanks.

[2016-08-26 18:53] khouzam commented on #34
Issue #35 talks about the problem. If you set "_WKITS10VER" in your environment to 10.0.14393.0 before calling the script and opening the solution, that should unblocked you until I get a proper detection fix.

Thanks.

[2016-08-26 19:16] fahad-ahmed commented on #34
Thanks. Build error has gone after setting  _WKITS10VER with value 10.0.14393.0 in the Environment.

[2016-08-27 19:52] mrchris2000 commented on #34
Confirmed, this resolves my original issue.
Thanks.

[2016-09-30 19:11] steerlink opened #36 "Could not find assembly 'Windows.winmd'"
**Summary**

Trying to build NT-Phone-8.1-Dll-Unicode.vcxproj in Release ARM fails with "could not find assembly 'Windows.winmd'...".

Branch: OpenSSL_1_0_2_WinRT-stable
Tag: OpenSSL_1_0_2j_WinRT
VS: Professional 2015 Version 14.0.25425.01 Update 3

**Steps to Reproduce**

git clone -b OpenSSL_1_0_2_WinRT-stable https://github.com/Microsoft/openssl.git
cd openssl
git checkout tags/OpenSSL_1_0_2j_W

[2016-10-05 23:43] khouzam commented on #36
@steerlink

I'm following your steps (copy and paste) but I'm not hitting this issue. Can you produce a detailed log and send it my way?

Thanks

[2016-10-06 15:47] steerlink commented on #36
@khouzam

Here are some logs from a run I did using VS 2015 Community.

[build_logs.zip](https://github.com/Microsoft/openssl/files/514216/build_logs.zip)

[2016-10-15 20:02] khouzam commented on #36
Hi @steerlink

The logs show that the environment is not found, can you try the following:

Start a Developer Command Prompt and build from there.
Get a log from the successful build and we can try to see what's different.

[2016-10-17 19:35] steerlink commented on #36
@khouzam The logs I supplied were generated inside a developer command prompt.

[2016-10-18 20:04] steerlink commented on #36
Discovered this which provides another way to build the libraries: https://github.com/sgrebnov/OpenSSL-WinRT-build

[2016-10-18 20:04] #36 closed, assigned to nobody

[2016-11-09 12:51] akire opened #38 "OpenSSL 1.1.0"
Are there any plans on integrating the OpenSSL 1.1.0 release into this fork?

[2016-11-15 19:41] khouzam commented on #38
Yes, this is something we want to do. There has been a lot of changes between 1.0.x and 1.1.0. Including a lot of build changes. I'm hoping to work with the OpenSSL team and do the work so that we can get this move up to the main OpenSSL repo and eventually fully supported.

@richsalz would you be the right person to talk to?

[2016-11-15 20:35] richsalz commented on #38
Start by posting on the openssl-dev mailing list.  Then someone from the team can help with specifics, if needed.

[2016-11-17 02:51] SampsonChing opened #39 "Can't build with Visual Studio 2015 SP3"
To viewer,
I have downloaded the source from this site. I followed the instruction to create openSSL.sln and project files everything was fine.
I use Visual Studio Profession 2015 Version 14.0.25431.01 Update 3 to open openSSL.sln and build "NT-Phone-8.1-Static-Unicode(Windows Phone 8.1)". First, I got error:"fatal error C1107 can't find Windows.winmd", I find a Windows.winmd and copy it to proper

[2016-11-28 18:48] amtlib-dot-dll opened #40 "Provide Windows binaries for OpenSSL in order to develop without Perl"
OpenSSL requires Perl to build, however it does not depend on Perl to run. Not all developers have Perl installed and, for developers like me, the only reason for installing Perl runtime is to just compile OpenSSL. It would be much better if we can make use of this library just "Out of Box", without any weird dependencies.

Windows is an Application Ecosystem of Microsoft, and it will be beneficia

[2016-11-29 22:03] khouzam commented on #40
Thanks for the feedback,

This is something that we're looking into.

[2016-12-05 18:31] brody2consult commented on #32
Closing for now, will try this later.

[2016-12-05 18:31] #32 closed, assigned to nobody

[2016-12-22 11:13] cubed-it commented on #40
+1

[2017-01-03 20:00] mlfarrell opened #41 "Cannot build windows 10 x64!"
3>------ Build started: Project: NT-Universal-10.0-Static-Unicode-testapp, Configuration: Release x64 ------
2>LINK : fatal error LNK1181: cannot open input file 'WindowsApp.lib'
2>NMAKE : fatal error U1077: '"C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin\x86_amd64\link.EXE"' : return code '0x49d'
2>  Stop.
2>C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V140\Microsoft.MakeFile.Ta

[2017-01-13 17:16] stammen opened #42 "uwp builds with nmake will fail WACK testing"
When using ms/do_winuniversal.bat to set up a UWP build, the openssl dlls will fail WACK after building with nmake (ie. nmake -f ms\ntdll.mak)

The dlls fail WACK because the store option is missing from the call to vcvarsall in ms/setVSvars.bat,

	:set_universal10.0Win32
		call:setVar _VS14VC VisualStudio14VC
		call "%_VS14VC%vcvarsall" x86 store <-- missing store parameter
		set _VCPlatform=x86

[2017-01-25 23:23] khouzam commented on #42
Thanks @stammen,

We had purposefully omitted the store parameter because it had a bug in the initial VS2015 release when we initially created the fork. We should change this now that it is fixed.

[2017-01-29 15:50] mezdej commented on #33
Hi, how things are going?

Some long time ago I used this branch for windows phone (works great!) and now i need native static library for my universal winrt app with a lot of native code linking with openssl.
There are some problems now under VS 2015 but I can wait if you are doing some big merges 👍

[2017-01-30 21:13] khouzam commented on #41
Hi @mlfarrell,

Sorry for not responding earlier,

I think that the issue is actually the same as issue #42. I'm pushing out a fix for this. Can you please try it again?

Sorry for the inconvenience.

[2017-01-30 21:33] khouzam commented on #42
Updated for 1.0.1 and 1.0.2
ba2b26d4b50455c49506538a15cd9d677d5fd05a and 8bd2c5dfdb7bec3067ebf371a11c0a82bd08a8f4.

[2017-01-30 21:33] #42 closed, assigned to nobody

[2017-01-30 21:36] stammen commented on #42
@khouzam Thanks!

[2017-01-30 21:45] khouzam commented on #33
Hi @mezdej,

For the moment, we're focusing on keeping 1.0.1 and 1.0.2 up to date with the releases. I haven't had a chance to look at moving to 1.1.0 yet.

What issues are you seeing with VS 2015? I have just made a change that might be fixing your issues.

Thanks

[2017-01-31 04:40] noloader commented on #33
I believe 1.0.1 passed into End of Life in December 2016. 1.0.1 will receive security updates, but I am not sure how long the security fixes will be applied. Also see [Release Strategy](https://www.openssl.org/policies/releasestrat.html) on the OpenSSL blogs.

[2017-02-01 21:28] Petezah commented on #42
Just hit this myself.  Thanks @stammen and @khouzam !

[2017-02-01 22:10] mezdej commented on #33
@khouzam
Today I had some small success but not with static library... That I will check it tommorow.
I had multiple problems, some was described in other issues here.

//edit
Yesterday one went fine. Today I wanted to do a clean build and I probably forgot about some simple step..

Should I have still set this env variable? _WKITS10VER=10.0.14393.0

don't know why my nt.mak is empty after ms\do_w

[2017-02-27 23:56] dg2k opened #43 "Question: Engine static libraries missing?"
The engine DLLs are generated for the DLL project and this is clearly shown in the corresponding auto-generated make file (**nt-$(Configuration)-$(Platform).mak** as in for instance **nt-Debug-x64.mak**) as follows (around line # 440).

    E_SHLIB=$(ENG_D)\4758cca.dll \
        $(ENG_D)\aep.dll $(ENG_D)\atalla.dll $(ENG_D)\cswift.dll \
        $(ENG_D)\gmp.dll $(ENG_D)\chil.dll $(ENG_D)\nuron.dll

[2017-03-07 23:37] #43 closed, assigned to nobody

[2017-03-22 21:59] dg2k opened #44 "Build Batch Files Update for VS2017"
Any idea when the build batch files will be updated for VS2017?

All the build files are geared to VS2015 (SDK folder paths, compiler paths, etc) and doesn't look to be a simple edit to adapt to VS2017 by developers. It would be a great help that this is updated for VS2017.

[2017-04-21 05:21] dg2k opened #45 "VS2017 Support"
When to expect updates for VS2017?
Could someone respond? My query from 29 days ago is still open.

[2017-04-21 16:44] khouzam commented on #45
Sorry, I have not had time to update the scripts yet. Let me look at what needs to be done.

[2017-04-21 17:19] dg2k commented on #45
@khouzam Thank you for the response.
I tried a quick customized fix to enable me to compile but very tricky - one challenge I noted is that VS2017 now uses private registry settings tucked away in App Package folder and things as not as straightforward as VS2015 or previous versions. Hence, VS path determination from registry is not that easy (unless it's possible to "Load Hive" of a private regis

[2017-05-06 06:29] khouzam commented on #45
Hi @dg2k,

I've pushed a new branch with the VS2017 support: OpenSSL_1_0_2_WinRT-stable-vs2017

Please try it. There are a couple of things that need to be figured out, but it does work for VS2017 with the 15063 Windows 10 SDK.

Some things that have to be adjusted:
1. Currently if you have VS2017, it will default to that for Windows 10.
1. Some APIs that we were thunking were added back in the 15

[2017-05-06 06:33] dg2k commented on #45
Thank you @khouzam.
Will check out and give you feedback.

[2017-05-06 06:33] khouzam commented on #44
Updated in issue #45.

[2017-05-06 06:33] #44 closed, assigned to nobody

[2017-05-06 06:34] khouzam commented on #41
This should be working now. Please reopen if it's not the case.

[2017-05-06 06:34] #41 closed, assigned to nobody

[2017-06-01 10:30] akire commented on #38
Any update on this @khouzam ?

[2017-06-01 22:55] khouzam commented on #38
Unfortunately, I haven't had a chance to move forward on this yet. I should find some time soon to start looking.

[2017-08-08 17:38] rajashanmugam83 opened #46 "Windows10Universal command line test"
I can able to compile using INSTALL.WINUNIVERSAL using below steps

Now when i try to try to run the tests using command line

I am getting below error
        cd out32
        ..\ms\test
rsa_test
'rsa_test' is not recognized as an internal or external command,
operable program or batch file.
problems.....

I can able to run the tests using the Universal Test App project in Openssl.sln.
Is it poss

[2017-08-08 17:41] khouzam commented on #46
Hi @rajashanmugam83,

Command line applications are not supported as Universal Windows Applications, that's is why we've wrapped them in the Universal Test App. The same code is being executed just from within a UWP application.

[2017-08-08 17:44] rajashanmugam83 commented on #46
@khouzam
Thanks for your clarification.

[2017-08-08 17:55] #46 closed, assigned to nobody

[2017-11-10 03:42] joycepg commented on #31
just FYI i rebuilt my machine with a new SSD and reinstalled VS2015.3, thus i didn't have any legacy SDKs or older versions. I had to modify ms/setVSvars.bat to v3.0.0.0 of universalapicontract. i'm not sure how you are supposed to tell what is there without poking around in file explorer.

	set "LIBPATH=%_WKITS10%UnionMetadata\Facade;%_VS14VC%vcpackages;%_WKITS10%references\windows.foundation.fou

[2017-11-12 10:44] skuskusku opened #47 "This is how building for VS2017 works for me..."
Hello,

first of all thanks to Mr. Khouzam for his work on the UWP build of openssl. I had some problems getting the VS2017 build working so in case others have the same problem, this is what works for me (see my specs below):

1. Download the file openssl-OpenSSL_1_0_2_WinRT-stable-vs2017.zip and unpack recursively into a directory such as c:\openssl-OpenSSL_1_0_2_WinRT-stable-vs2017.
2. Apply th

[2017-11-12 10:50] skuskusku commented on #47
I just saw that my previous text looks a bit garbled, so this is an attempt to upload my version of setVSvars.bat as a text file here, dunno if this works:

[setVSvars.bat.txt](https://github.com/Microsoft/openssl/files/1464538/setVSvars.bat.txt)

[2017-11-14 02:19] khouzam commented on #47
Thanks @skuskusku. I've cleaned up the build scripts, added support for the 16299 SDK, fixed a couple of issues and pushed out an update. Please try it and I'll merge it into the WinRT branch.

[2017-11-17 17:25] skuskusku commented on #47
Hello Mr, Khouzam,

It builds for all platforms with _WKITS10VER=10.0.15063 successfully and all tests are passed successfully as well. I will try in the next few days with 10.0.16299. Is this branch expected to work with the 10240 SDK as well or isn't it worth a try at all?

As a side note: One thing I noticed is that when building from the IDE, the library project files always seem to want recom

[2017-11-20 19:37] skuskusku commented on #47
Hello Mr. Khouzam,

I can confirm that things work as well with the 16299 SDK, all configurations build and test successfully. I tried with the 10240 SDK as well but this failed with

1>.\ms\winrt.cpp : fatal error C1107: could not find assembly 'windows.foundation.foundationcontract.winmd': please specify the assembly search path using /AI or by setting the LIBPATH environment variable

With sett

[2017-11-23 11:12] hramovnik opened #48 "VS2015 link errors"
Hi, after building lib - I have link problems then I try to use it. That looks like this:

[DEBUG] RET:   openssl.lib(ossl_engine.obj) : error LNK2001: unresolved external symbol _ENGINE_load_4758cca

[DEBUG] RET:   openssl.lib(ossl_engine.obj) : error LNK2001: unresolved external symbol _ENGINE_load_aep

[DEBUG] RET:   openssl.lib(ossl_engine.obj) : error LNK2001: unresolved external symbol _ENGI

[2018-03-13 03:13] wangdevmgit opened #50 "OpenSSL 1.0.2n"
Hi, is there any plan to bump OpenSSL 1.0.2m to 1.0.2n?

[2018-03-13 14:32] khouzam commented on #50
Yes, I will do that this week.

[2018-03-14 02:08] wangdevmgit commented on #50
Thanks! @khouzam

[2018-03-14 11:35] supercairos commented on #38
Hi, any ETA on that ? :)

[2018-03-15 00:19] khouzam commented on #50
Done. The code has been updated to 1.0.2n.

Use the tag: OpenSSL_1_0_2n_WinRT

[2018-03-15 00:19] #50 closed, assigned to nobody

[2018-03-15 00:20] khouzam commented on #38
Unfortunately not. I haven't had any time to start looking at this issue.

[2018-03-15 02:58] noloader commented on #50
@khouzam,

A quick heads up...

TLS 1.3 is in Last Call (LC) at the TLS Working Group (WG). See, for example, [Genart last call review of draft-ietf-tls-tls13-24](https://www.ietf.org/mail-archive/web/tls/current/msg25533.html). It should publish soon.

TLS 1.3 will have a lot of goodies, like new x25519 key exchange, ChaCha and Poly1305. OpenSSL 1.1 is required for TLS 1.3. It is not present in O

[2018-03-15 13:42] supercairos commented on #38
No problem, I backported my code to OpenSSL 1.0.2. Was easier than expected :)

[2018-03-23 11:53] wangdevmgit opened #53 "'GetTickCount' undefined; assuming extern returning int when complile with Windows SDK (10.0.14393.0)"
Hi, I have cloned from the repo branch OpenSSL_1_0_2_WinRT-stable. Then I try to build on UWP with ms\do_vsprojects14.bat (for Visual Studio 2015), an error occurs:

So I disabled -WX and builded again, an error LNK2019 happened:

Note:
I could build successfully with Windows SDK (10.0.16299.0) but failed with 10.0.14393.0.

Is there anything I could to fix this issue?

[2018-03-27 09:09] afedchin commented on #53
uncomment https://github.com/Microsoft/openssl/blob/OpenSSL_1_0_2_WinRT-stable/ms/winrtdef.h#L24-L39 for 10.0.14393.0 SDK,
or the best wrap this into ifdef
[code]

[2018-03-27 16:02] khouzam commented on #53
Thanks @afedchin,

Would you want to create a pull request and I can merge the change.

It gets challenging sometimes to try to validate all the combinations on SDKS.

[2018-03-27 18:36] afedchin commented on #53
I didn't try this solution. If @wangdevmgit confirm that it works I'll create a PR

[2018-03-28 06:48] wangdevmgit commented on #53
Hi @afedchin ,
I have tried your first solution, tt works.

However, I didn't try your the ifdef solution because I don't know how to do it.

Also, I modified LIBPATH in setVSvars.bat , because I met a compile-error : error C1107: could not find assembly 'windows.foundation.foundationcontract.winmd'

[2018-03-28 06:53] wangdevmgit opened #54 "Bump OpenSSL to 1.0.2o"
Hi, I find OpenSSL 1.0.2o is now available, is there any plan to bump OpenSSL 1.0.2n to 1.0.2o?

[2018-03-28 16:05] khouzam commented on #54
I'll take a look at merging that in.

[2018-03-29 14:13] MouriNaruto commented on #54
I have make a pull request (https://github.com/Microsoft/openssl/pull/56).

[2018-03-29 18:44] khouzam commented on #54
Thanks @MouriNaruto

Merged.

[2018-03-29 18:44] #54 closed, assigned to nobody

[2018-04-03 10:08] wangdevmgit opened #57 "Fails Windows Store App Certification"
I run a windows store certification kit to check my uwp app and got failed. The error is:

So I couldn't publish our UWP app with this version of OpenSSL.

I guess the file ms\winrtdef.h cause this issue.

[2018-04-03 17:18] khouzam commented on #57
Hi @wangdevmgit,

I had inadvertently removed the following two lines causing the failure (since one of them was clearly wrong). I'll put them back
[code]

[2018-04-03 18:24] khouzam commented on #57
I've pushed the fix to OpenSSL_1_0_2_WinRT-stable

[2018-04-03 18:24] #57 closed, assigned to khouzam

[2018-04-03 18:25] khouzam commented on #53
Merged. Thanks for the change.

[2018-04-03 18:25] #53 closed, assigned to nobody

[2018-04-03 18:39] skuskusku opened #58 "What are the branches for, which one should be used?"
Hello Mr. Khouzam,

maybe I have overlooked, but can you explain which branches should be used currently with which version of Visual Studio? What is this Project Nagisa branch intended for? Is there one branch now that can be used with both VS2015 and VS2017 or do I still have to resort to the OpenSSL_1_0_2_WinRT-stable-vs2017 for targetting VS2017? Are there any plans to update to OpenSSL 1.0.2o

[2018-04-03 18:48] khouzam commented on #58
Hi @skuskusku,

You should be using OpenSSL_1_0_2_WinRT-stable.

It has the VS2017 changes and can be used for both VS2017 and VS2015. Use ms\do_vsprojects15 for VS2017 and ms\do_vsprojects14 for VS2015.

The branch has been updated to 1.0.2o last week.

I've cleaned up the stale branches vs2017 (since it has been merged) and Project Nagisa which as a branch to update to 1.0.2n and has also been m

[2018-05-29 09:44] MouriNaruto opened #59 "Errors while compiling with RS4 (10.0.17134.0) Windows SDK"
I tried my best to fix it but I found I can't fix that. So I need some help about that.

If someone addressed the error, I suggest next step of this project is adding the Windows 10 ARM64 support.

@khouzam

Mouri

[2018-05-29 09:48] MouriNaruto commented on #59
Also I think we should keep the compatibility for earlier version of Windows, even compiled with the latest SDK.

Because some developers like me need to support several versions of Windows 10.

[2018-05-30 16:52] khouzam commented on #59
Hi @MouriNaruto

Thanks for reporting the issue. I'll take a look and see what we can do.

Building with a new SDK still allows the binary to run on previous versions of Windows, so moving forward with the progress of the SDK doesn't prevent supporting older versions.

[2018-05-30 19:34] khouzam commented on #59
Hi @MouriNaruto

I've pushed a fix 5cc1e25bc76 for the issue on the `OpenSSL_1_0_2_WinRT-stable` branch.

I have also created a pull request #60 for adding ARM64 support. Please try the `OpenSSL_1_0_2_WinRT-stable_ARM64` branch for the changes.

Everything seems to work fine and the tests ran to completion on an ARM64 device.

[2018-05-31 01:44] MouriNaruto commented on #59
@khouzam

Thank you, but I want to talk something.

But after reading the source code, I realized that some functions will be linked to the new version of dynamic libraries if I am using the new version of Windows SDK because you used the conditional compilation. (It will not overwrite functions not supported by older versions if the new version of Windows SDK is used.)

Mouri

[2018-05-31 02:51] khouzam commented on #59
Hi @MouriNaruto

Yes, while when using a new SDK we might be linking around newly exposed functions (specifically the ones that we override), they are already part of the previous versions of the OS. The apis weren't exposed in the Universal SDK and would fail the WACK certification, but as the SDK and WACK allow for more functions to be used they are also allowed on previous versions of the OS.

[2018-05-31 10:21] MouriNaruto commented on #59
@khouzam OK. Thank you very much.

[2018-05-31 10:21] #59 closed, assigned to nobody

[2018-09-21 06:58] higarry opened #63 "openssl-1.0.2p local build error with vs2015"
I am building the openssl-1.0.2p WinRT locally, I was doing this by following the "INSTALL_WINUNIVERSAL". (Please note that this is for x86 debug)

errors are as following:
1>.\crypto\rand\randfile.c(331): error C2220: warning treated as error - no 'object' file generated
1>.\crypto\rand\randfile.c(331): warning C4013: 'getenv' undefined; assuming extern returning int

2>.\crypto\rand\randfile.c(3

[2018-09-24 20:46] khouzam commented on #63
Hi @higarry,

Which Windows 10 SDK do you have installed?

[2018-09-25 12:16] higarry commented on #63
hi @khouzam,

I build this locally with Windows 10 SDK 14393 and  Windows 10 SDK16299, both of them are failed.

1>  randfile.c
1>.\crypto\rand\randfile.c(331): error C2220: warning treated as error - no 'object' file generated
1>.\crypto\rand\randfile.c(331): warning C4013: 'getenv' undefined; assuming extern returning int
1>.\crypto\rand\randfile.c(331): warning C4047: '=': 'char *' differs in l

[2018-09-25 14:16] khouzam commented on #63
Thanks. I'll setup a machine with only VS 2015 and try to repro.

[2018-09-26 19:59] khouzam commented on #63
Hi @higarry

Thanks for reporting this. Can you please try the PR #64 to see if this fixes your issue. I reproed the break and the fix worked, but I would like your validation.

After your confirmation, I'll merge it in.

Thanks

[2018-09-27 02:30] MouriNaruto opened #65 "OpenSSL 1.1.1 (LTS)"
Hi, is there any plan to bump OpenSSL 1.0.2 to 1.1.1?

[2018-09-27 07:13] higarry commented on #63
Hi @khouzam,

Thanks for the changes.
I validated your changes locally found that "NT-Universal-10.0-Dll-Unicode" project and NT-Universal-10.0-Static-Unicode project could build successfully. But the 2 testapp project failed with：

1>  winrt.cpp
1>C:\Program Files (x86)\Windows Kits\10\include\10.0.14393.0\winrt\robuffer.h(46): error C2220: warning treated as error - no 'object' file generated
1>

[2018-09-27 16:56] khouzam commented on #65
That is on my list of things to do but is a much bigger change since a whole lot of things have changed between 1.0 and 1.1. It would almost be a brand new port inspired from the 1.0 one.

[2018-09-28 07:33] higarry commented on #63
I tried to build x64 - release and arm-release locally with SDK 14393, failed with below error:

X64 | Release
1>  winrt.cpp
1>C:\Program Files (x86)\Windows Kits\10\include\10.0.14393.0\winrt\robuffer.h(46): error C2220: warning treated as error - no 'object' file generated
1>C:\Program Files (x86)\Windows Kits\10\include\10.0.14393.0\winrt\robuffer.h(46): warning C4467: usage of ATL attributes i

[2018-09-28 23:01] khouzam commented on #63
Hi @higarry

I've push a change to silence the warning, but it seems that there might some more changes for VS2015 since we introduced the ARM64 build target, which is not supported at all on VS 2015.

Hopefully the current changes can unblock you.

[2018-10-09 08:01] higarry commented on #63
hi @khouzam,
With your changes, I could build x64 and arm successfully, but my application crashes after linked the x64 binaries, I am looking at this.
Another issue is, when I build the openssl solution with MS build, only x86 is built, x64 and arm is not built at all, but the build script just copies x86 binaries to x64 and arm output folder. Could you help have a look at this?

[2018-10-12 18:51] khouzam commented on #63
Hi @higarry

Have you tried the do_vsprojects script?

[2018-11-12 03:30] higarry commented on #63
Sorry for the late response.
Yes, it works fine. Thanks

[2018-11-12 03:30] #63 closed, assigned to khouzam

[2018-11-18 10:00] MouriNaruto commented on #65
@khouzam Can you create a new branch which contains OpenSSL 1.1.1 for this repo? I want to help you adapt it via pulling requests, but no branch I can pull. (Sad.)

Mouri

[2018-11-19 18:45] khouzam commented on #65
Hi @MouriNaruto,

I've create a new branch `develop/OpenSSL_1_1_1` which is based upon `OpenSSL_1_1_1-stable` where you can create pull requests.

Thank you for the help.

[2019-03-07 02:20] MouriNaruto commented on #65
@khouzam Because I have seen some people done some work on the offical OpenSSL repo. So I add the support and try to pull request to the offical OpenSSL repo. (Because I think it can help more UWP developers.)

https://github.com/openssl/openssl/pull/7729

But I don't know how to make this PR merged by them successfully. So I think I need your help. Thanks.

Mouri.

[2019-04-09 06:07] higarry opened #71 "Do we have plan to create openssl 1.0.2r branch for UWP platform?"
Hi,

As the title mentioned, do we have plan to create a new branch for 1.0.2r ?

Thanks

[2019-04-09 07:18] MouriNaruto commented on #71
https://github.com/openssl/openssl/pull/7729

I had made some effort to the offical OpenSSL. Hope it will be merged.

Mouri

[2019-04-09 17:09] stammen commented on #71
1.0.2r has been merged into 1.0.2 winrt stable branch,

[2019-04-09 17:09] #71 closed, assigned to nobody

[2019-05-12 02:05] illera88 commented on #65
how is this task going on? There are tons of libraries that have OpenSSL 1.1.X as dependency and it's stopping them from being able to be used at the moment.

[2019-05-12 02:39] MouriNaruto commented on #65
@illera88 I have opened a new PR in the offical OpenSSL repo. (https://github.com/openssl/openssl/pull/8917)

[2019-06-10 10:48] MouriNaruto opened #72 "What about the next step of this repo?"
Today, OpenSSL has been merged my UWP target support PR (https://github.com/openssl/openssl/pull/8917) to their master branch (https://github.com/openssl/openssl/commit/5ded1ca6dade13e093086573f4cebe400bff9f4d).

So I wonder to know the future of this repo.

Thanks.

Kenji Mouri

[2019-06-10 10:49] MouriNaruto commented on #65
Closed because of https://github.com/microsoft/openssl/issues/72.

[2019-06-10 10:49] #65 closed, assigned to nobody

[2019-06-19 08:22] the-j0k3r opened #73 "update openssl to 1.0.2s"
1.0.2s has been released for a while now.

[2019-07-16 07:56] higarry commented on #73
Have the same question, do we have a plan for this?

[2019-08-19 02:19] cmoaciopm commented on #73
Ditto, any update on this issue?

[2020-11-06 07:43] #73 closed, assigned to nobody